.navbar {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #000;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.page {
  padding: 20px;
}

.gallery {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.gallery img {
  width: 300px;
  border-radius: 10px;
}
